body{
  overflow: hidden;
  background-color: #6f9436;
  margin:0;
  color: #212121;
}
*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ul,li{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}

.main{
  width: 567px;
  background-color: #fff;
  margin: 200px auto;
  box-shadow: 0 2px 4px 0 ;
}
.header{
  line-height: 128px;
  font-size: 36px;
  font-family: 'Arial';
  text-align: center;
}
.todo-list{
  height: 280px;
}
.todo-list .container{
  height:240px;
  margin: 60px 120px;
  overflow: auto;
}
.todo-list .container ul li{
  line-height: 60px;
  font-size: 24px;


}
.todo-list li.completed{
  text-decoration: line-through;
  color:#989191;
  position: relative;
}
.todo-list li.completed:after{
  content:' ';
  width: 30px;
  height: 30px;
  background-size: cover;
  background-image: url('/images/check-mark.svg');
  position: absolute;
  right:0;
  top:15px;
}

.form{
  height: 110px;
}
.form .container{
  width: 400px;
  margin:40px auto;
  position: relative;
}
.form .text{
  width: 360px;
  height: 40px;
  background-color: #D8D8D8;
  padding-left: 20px;
  font-size: 1.3em;

}

.form .text:focus{
  outline: none;
}
.form .submit{
  position: absolute;
  right:0;
  top:-20px;
  border: 0;
  background-color: #7ed321;
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: url('/images/add.svg');
  background-size:30px;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 2px 4px;
  cursor:pointer;
}
.form .submit:focus{
  outline: none;
}
.actions{
  height: 110px;
}
.actions .container{
  width: 400px;
  margin:30px auto;
  position: relative;
}
.actions .container .list{
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url('/images/list.svg');
  background-size: cover;
  left:100px;
}
.actions .container .completed{
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url('/images/right-red.svg');
  background-size: cover;
  right:100px;
}
